/* Card */

.card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  padding: 10px 20px;

  .card-wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-title {
  }
  .card-content {
  }
  .card-action {
    a {
      color: #000;
      font-size: 2rem !important;
      .media-font-size(2.5rem, 3rem);
    }
    span {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .card-img {
    margin: 0 auto;
    max-width: 500px;
  }

  .media-tablet({flex-direction: row;.card-wrap {width: 45%;}});
  .media-desktop({flex-direction: row;.card-wrap {width: 45%;}});
}

.content-item:nth-child(2n) {
  .card {
    .media-tablet({flex-direction: row-reverse;});
    .media-desktop({flex-direction: row-reverse;});
  }
}

/* About Card */
.about {
  .card {
  }
}
