/* Card */

.card {
  display: flex;
  justify-content: center;

  padding: 10px 20px;
  .card-wrap {
    width: 45%;
  }
  .card-title {
    color: #000;
  }
  .card-content {
    color: #000;
  }
  .card-img {
    width: 500px;
  }
}

.card-2 {
  flex-direction: row-reverse;
  text-align: end;
}
