/* Nav List */
.nav-list {
  .nav-item {
    padding: 5px 7px;
    color: @secondary;
    &:hover {
      color: @fc;
      border-bottom: 2px solid @secondary;
    }
  }

  .nav-item:not(:last-child) {
    margin-right: 3vw;
  }
}
