/* Nav List */
.nav-list {
  .nav-item {
    padding: 5px 7px;
    color: @secondary;
    position: relative;
    transition: color .3s ease-out;
    &::after {
      transition: transform .3s ease-in;
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      border-bottom: 2px solid @secondary;
      transform: scale(0);
    }

    &:hover {
      color: @fc;
      &::after {     
        transform: scale(1);
      }
    }
  }

  .nav-item:not(:last-child) {
    margin-right: 3vw;
  }
}
